form(method="POST", action="/test/submit")
 input(type="hidden". name="_method", value="POST")
 p Name
  input(type="text", name="name")
 p Email
  input(type="email", name="email")
 p Age
  input(type="number", name="age")
 p Test ID
  input(type="number", name="id")
 p
  input(type="submit")